<template name="defaultLayout">
  {{> Template.dynamic template=top}}
  {{> Template.dynamic template=main}}
</template>

<template name="signInAtForm">
  {{> atForm}}
</template>

<template name="defaultHeader">
  <h1>Header</h1>
  {{#if checkLogin}}
    <button id="logout">Logout</button>
  {{else}}
    <button id="login">Login</button>
  {{/if}}
</template>

<template name="itemsList">
  <h1>Item List</h1>
  {{#each itemsList}}
    {{Name}}: {{AssetCode}}<br/>
  {{/each}}

  {{> createItem}}
</template>

<template name="bookList">
  <h1>Book List</h1>
  {{#each bookList}}
    {{Title}}: {{Author}} -- {{ISBN}}<br/>
  {{/each}}

  {{> createBook}}
</template>

<template name="updateItem">
  <h1>Update Item</h1>
</template>

<template name="updateBook">
  <h1>Update Book</h1>
</template>

<template name="home">
  <h1>Welcome to home page</h1>
</template>

<template name="createItem">
  <h1>Create a new item</h1>

  <form id="formCreateItem">
    <label>Asset Code:</label>
    <input type="text" id="AssetCode" name="AssetCode">
    <label>Name:</label>
    <input type="text" id="Name" name="Name">
    <button id="createItem">Create Item</button>
  </form>

</template>

<template name="createBook">
  <h1>Create a new book</h1>

  <form id="formCreateBook">
    <label>Title:</label>
    <input type="text" id="Title" name="Title">
    <label>Author:</label>
    <input type="text" id="Author" name="Author">
    <label>ISBN:</label>
    <input type="text" id="ISBN" name="ISBN">
    <button id="createBook">Create Book</button>
  </form>

</template>
